.hero_section {
    background-size: cover;
    position: relative;
    background-color: #C7D1CD;
    padding-top: 43%;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 500px;
}
.hero_section::before {
    position: absolute;
    left: 0;
    width: 100px;
    content: " ";
    top: 0;
    height: 110%;
    border-radius: 0px 0px 114.75px 0px;
    background: rgba(70, 101, 88, 0.65);
}
.hero_section .content_area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
}
.hero_content_wrapper {
    width: 100%;
    max-width: 830px;
    border-top-left-radius: 9px;
    background-color: rgba(251, 248, 248, 0.85);
    -webkit-box-shadow: 0px 3.6px 5.4px 0px rgba(47, 47, 47, 0.30);
    box-shadow: 0px 3.6px 5.4px 0px rgba(47, 47, 47, 0.30);
    padding: 60px 60px 230px;
    border-bottom-left-radius: 9px;
    text-align: center;
    margin-bottom: -100px;
    position: relative;
}
.hero_content_wrapper::before {
    position: absolute;
    right: 0;
    content: " ";
    width: 115%;
    height: 100px;
    border-radius: 0px 0px 0px 111.15px;
    background: rgba(70, 101, 88, 0.65);
    bottom: 33px;
}
.hero_content_wrapper::after {
    position: absolute;
    content: " ";
    bottom: 80px;
    left: -55px;
    width: 232px;
    height: 118px;
    background-image: url("../images/hero-shape.svg");
}
.hero_content .h1 {
    color: #2F2E2E;
    font-size: 42px;
    letter-spacing: 2px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 30px;
}
.hero_content p {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.7;
}
.wellness_journey {
    padding: 180px 0;
}
.coming_soon {
    margin-top: 60px;
}
.coming_soon .h2 {
    font-size: 30px;
    font-weight: 700;
}
.coming_soon p {
    font-size: 24px;
    max-width: 43ch;
    margin: 0 auto;
    line-height: 1.6;
}
.howitworks {
    padding: 80px 0;
}
.weight_loss_section {
    background-color: #C7D1CD;
    padding: 150px 0;
    position: relative;
}
.weight_loss_section::before {
    position: absolute;
    left: 0;
    top: -55px;
    content: " ";
    width: 410px;
    height: 110px;
    border-radius: 0px 111.15px 0px 0px;
    background-color: #C7D1CD;
}
.weight_loss_section::after {
    position: absolute;
    right: 0;
    bottom: -55px;
    content: " ";
    width: 410px;
    height: 110px;
    border-radius: 0px 0px 0px 111.15px;
    background-color: #C7D1CD;
}
.weight_loss_content {
    max-width: 1260px;
    margin: 0px auto 250px;
    width: 100%;
    position: relative;
}
.weight_loss_content:last-child {
    margin-bottom: 0;
}
.weight_loss_image img {
    max-width: 92%;
    width: 100%;
    min-height: 350px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: left center;
    object-position: left center;
}
.weight_loss_textbox {
    background: #FFF;
    -webkit-box-shadow: 0px 9.804px 9.804px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 9.804px 9.804px 0px rgba(0, 0, 0, 0.25);
    padding: 50px 40px;
    max-width: 540px;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: -40px;
}
.weight_loss_content:nth-child(2n+2) .weight_loss_textbox {
    left: 0;
    right: auto;
    bottom: -15px;
}
.weight_loss_content:nth-child(2n+2) .weight_loss_image {
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.wellness_content {
    display: grid;
    grid-template-columns: 40% auto;
    gap: 80px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.wellness_text .h2 {
    max-width: 23ch;
    margin: 0 0 25px;
}
.wellness_text ul {
    list-style: outside;
    padding-left: 50px;
    margin-bottom: 30px;
}
.wellness_text ul li {
    font-size: clamp(24px, 2vw, 32px);
    font-weight: 500;
    margin: 0 0 5px;
    max-width: 30ch;
    line-height: 1.3;
}
.weight_loss_textbox p {
    max-width: 36ch;
    margin: 0 0 50px;
}
.weight_loss_textbox img {
    position: absolute;
    bottom: 0;
    right: -35px;
}
.customer_review_section {
    background-color: var(--gray);
    position: relative;
    padding: 25px 0 40px;
}
.customer_review_section::before {
    position: absolute;
    left: 0;
    top: -55px;
    content: " ";
    width: 410px;
    height: 110px;
    border-radius: 0px 111.15px 0px 0px;
    background-color: var(--gray);
}
.customer_review_text {
    margin: 0 0 28px;
}
.customer_review_content .h2 {
    font-size: clamp(20px, 2vw, 27px);
}
.single_qoute p {
    font-size: clamp(18px, 2vw, 26px);
}
.single_qoute p span {
    font-size: clamp(16px, 2vw, 21px);
}
.customer_details {
    width: 100%;
}
.single_customer {
    padding: 0 30px;
}
.customer_name_weight {
    background-color: var(--green);
    color: var(--gray);
    padding: 15px 10px;
    border-radius: 0px 0px 0px 54px;
    -webkit-box-shadow: 0px 3.383px 3.383px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 3.383px 3.383px 0px rgba(0, 0, 0, 0.25);
}
.customer_name_weight .h3 {
    margin: 0 0 5px;
    font-size: clamp(18px, 2vw, 25px);
}
.customer_photo {
    border-radius: 0px 54px 0px 0px;
    background: #DAE5EC;
    -webkit-box-shadow: 0px 3.383px 3.383px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 3.383px 3.383px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}
.customer_photo img {
    display: block;
    width: 100%;
    height: 330px;
    -o-object-fit: cover;
    object-fit: cover;
}
button.slick-prev:before, button.slick-next:before {
    color: var(--black) !important;
}
.video_section {
    position: relative;
    background-color: #fff;
}
.video_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
}
.play_btn {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 15px;
}
.play_btn:before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
}
.video_upon_text .h2 {
    font-size: clamp(30px, 4vw, 49px);
    text-transform: uppercase;
    font-weight: 500;
    margin: 0 0 50px;
}

.rx_video_section {
    position: relative;
    padding: 40px 0 0;
}
.rx_video_overlay .h2 {
    font-size: clamp(30px, 3vw, 50px);
    text-transform: uppercase;
    font-weight: 500;
}
.rx_video_overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 40px;
}
.faq_section {
    padding: 100px 0;
}
.faq_content {
    display: grid;
    grid-template-columns: 45% auto;
    max-width: 1335px;
    gap: 50px;
    margin: 0px auto;
    width: 100%;
}
.faq_heading {
    padding-top: 20px;
}
.faq_heading .h2 {
    font-size: 28px;
    font-weight: 700;
    margin: 0 0 30px;
}
.faq_heading p, .faq_heading p a {
    font-size: 19px;
    color: var(--black);
    margin: 0;
}
.faq_ques_ans .btn {
    font-weight: 300;
    padding: 22px 50px 22px 0px;
    display: block;
    text-align: left;
    position: relative;
    border: none;
}
.faq_ques_ans .btn::before {
    position: absolute;
    right: 15px;
    content: "+";
    font-size: 30px;
    line-height: 1;
}
.faq_ques_ans .btn[aria-expanded="true"]::before {
    content: "-";
}
.faq_ques_ans .card-header {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
}
.faq_ques_ans .card {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #466558;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.faq_ques_ans .card-body {
    padding: 0 20px 20px;
    font-weight: 300;
}

@media only screen and (min-width: 1201px) and (max-width: 1439px) {
    .hero_section::before {width: 50px;}
    .hero_content_wrapper {max-width: 600px;padding: 30px 25px 170px;}
    .hero_content_wrapper::before {height: 80px;bottom: 25px;}
    .hero_content_wrapper::after {bottom: 69px;width: 150px;height: 78px;background-size: 100% auto;background-repeat: no-repeat;}
    .hero_content .h1 {font-size: 30px;letter-spacing: 2px;line-height: 1.2;margin: 0 0 20px;}
    .hero_content p {font-size: 18px;line-height: 1.4;}
    .coming_soon {margin-top: 30px;}
    .coming_soon .h2 {font-size: 24px;}
    .coming_soon p {font-size: 18px;line-height: 1.4;}
    
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .hero_section::before {width: 50px;}
    .hero_content_wrapper {max-width: 520px;padding: 30px 25px 170px;}
    .hero_content_wrapper::before {height: 80px;bottom: 25px;}
    .hero_content_wrapper::after {bottom: 69px;width: 150px;height: 78px;background-size: 100% auto;background-repeat: no-repeat;}
    .hero_content .h1 {font-size: 24px;letter-spacing: 1px;line-height: 1.2;margin: 0 0 20px;}
    .hero_content p {font-size: 16px;line-height: 1.4;}
    .coming_soon {margin-top: 30px;}
    .coming_soon .h2 {font-size: 24px;}
    .coming_soon p {font-size: 16px;line-height: 1.4;}
    .customer_review_section {padding: 60px 0 40px;}
    .weight_loss_textbox {padding: 30px 40px;bottom: -160px;}   
    .weight_loss_content:nth-child(2n+2) .weight_loss_textbox {bottom: -70px;}
}

/* Tablet screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero_section {padding-top: 60%;}
    .hero_section::before {width: 50px;}
    .hero_content_wrapper {max-width: 390px;padding: 20px 25px 170px;}
    .hero_content_wrapper::before {height: 80px;bottom: 25px;}
    .hero_content_wrapper::after {bottom: 69px;width: 150px;height: 78px;background-size: 100% auto;background-repeat: no-repeat;}
    .hero_content .h1 {font-size: 24px;letter-spacing: 1px;line-height: 1.2;margin: 0 0 20px;}
    .hero_content p {font-size: 16px;line-height: 1.4;}
    .coming_soon {margin-top: 30px;}
    .coming_soon .h2 {font-size: 24px;}
    .coming_soon p {font-size: 16px;line-height: 1.4;}
    .slick-next {right: -10px;}
    .slick-prev {left: -10px;}
    .customer_review_section {padding: 60px 0 40px;}
    .faq_section {padding: 50px 0;}
    .weight_loss_image img {min-height: 350px;-o-object-fit: cover;object-fit: cover;}
    .weight_loss_textbox {padding: 20px;max-width: 440px;bottom: -150px;}
    .weight_loss_textbox img {right: -15px;width: 160px;}
    .weight_loss_content:nth-child(2n+2) .weight_loss_textbox {bottom: -75px;}
    .wellness_content {grid-template-columns: 40% auto;gap: 40px;}
    .single_qoute p {max-width: 50ch;margin: 0px auto;}
    .weight_loss_section {padding: 100px 0 150px;}   
  
    
}

/* Mobile screen */
@media only screen and (max-width: 767px) {
    .hero_section {background-image: url("../images/hero-bg-mbl.webp")!important;padding-top: 150%;}
    .hero_section::before {width: 40px;height: 75%;}
    .hero_content_wrapper {max-width: 80%;height: 350px;margin-bottom: -80px;padding: 15px;width: 300px}
    .hero_content .h1 {font-size: 20px;letter-spacing: 0px;margin: 0 0 10px;}
    .hero_content p {font-size: 12px;line-height: 1.3;}
    .coming_soon p {font-size: 12px;line-height: 1.3;}
    .coming_soon .h2 {font-size: 20px;margin: 0;}
    .hero_content_wrapper::before {height: 65px;bottom: 20px;}
    .hero_content_wrapper::after {bottom: 68px;left: -25px;width: 70px;height: 35px;background-size: 100% auto;background-repeat: no-repeat;}
    .coming_soon {margin-top: 30px;}
    .howitworks {padding: 120px 0 60px;}
    .weight_loss_section {padding: 80px 0 120px;}
    .weight_loss_textbox {padding: 15px;max-width: 300px;width: 100%;position: absolute;right: 0;bottom: -160px;}
    .weight_loss_textbox .h2 {font-size: 14px}
    .weight_loss_textbox p {max-width: 82%;margin: 0 0 45px;font-size: 12px;}
    .weight_loss_content:nth-child(2n+2) .weight_loss_image {text-align: right;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: end;-ms-flex-pack: end;justify-content: flex-end;}
    .wellness_journey {padding: 100px 0;}
    .wellness_text ul li {font-size: 18px;font-weight: 500;margin: 0 0 5px;max-width: 30ch;line-height: 1.3;}
    .wellness_text .h2 {max-width: 21ch;margin: 0 auto 25px;font-size: 26px;text-align: center;}
    .customer_review_section::before,
    .weight_loss_section::before {width: 272px;height: 72px;top: -36px;}
    .customer_review_section {padding: 50px 0;}
    .weight_loss_textbox img {position: absolute;bottom: 0;right: -15px;width: 115px;}
    .faq_section {padding: 60px 0;}
    .faq_content,.wellness_content {grid-template-columns: 1fr;}
    .faq_heading {padding-top: 0;text-align: center;}
    .faq_ques_ans .btn {padding: 22px 50px 22px 0;}
    .weight_loss_section::after {bottom: -35px;width: 272px;height: 40px;}
    .slick-next {right: -10px;}
    .slick-prev {left: -10px;}
    .wellness_text {text-align: center;}
    .wellness_text ul {text-align: left;display: inline-block;}
   
}